<nav class="navbar navbar-expand-md navbar-dark  bg-dark sticky-top">

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item px-md-5">
                <a class="nav-link" href="#home">
                    <div class=" row ">
                        <div class="col-1 m-2 border-0">
                            <img src="http://127.0.0.1:8000/media/verifier.png" alt="0" width="15" height="15">
                        </div>
                        <h6 class="col-4 m-2 border-0">
                            <U>ACCUEIL</U>
                        </h6>
                    </div>
                </a>
            </li>
            <li class="nav-item px-md-5">
                <a class="nav-link" href="#presentation">
                    <div class=" row ">
                        <div class="col-1 m-2 border-0">
                            <img src="http://127.0.0.1:8000/media/verifier.png" alt="0" width="15" height="15">
                        </div>
                        <h6 class="col-4 m-2 border-0">
                            <U>QUI_SOMMES_NOUS</U>
                        </h6>
                    </div>

                </a>
            </li>
            <li class="nav-item px-md-5">
                <a class="nav-link" href="#services">
                    <div class=" row ">
                        <div class="col-1 m-2 border-0">
                            <img src="http://127.0.0.1:8000/media/verifier.png" alt="0" width="15" height="15">
                        </div>
                        <h6 class="col-4 m-2 border-0">
                            <U>NOS_SERVISES</U>
                        </h6>
                    </div>

                </a>
            </li>
            <li class="nav-item px-md-5">
                <a class="nav-link" href="#partenaires">
                    <div class=" row ">
                        <div class="col-1 m-2 border-0">
                            <img src="http://127.0.0.1:8000/media/verifier.png" alt="0" width="15" height="15">
                        </div>
                        <h6 class="col-4 m-2 border-0">
                            <U>NOS_PARTENAIRES</U>
                        </h6>
                    </div>
                </a>
            </li>

            <li class="nav-item px-md-5 ">
                <a class="nav-link" href="#contact">
                    <div class=" row ">
                        <div class="col-1 m-2 border-0">
                            <img src="http://127.0.0.1:8000/media/verifier.png" alt="0" width="15" height="15">
                        </div>
                        <h6 class="col-4 m-2 border-0">
                            <U>CONTACT</U>
                        </h6>
                    </div>

                </a>
            </li>
        </ul>
    </div>
</nav>
<div id="home" class="card-group m-3 border-0">
    <div class="card text-white bg-dark m-2 border-0">
        <div class="text-center">
            <img src="http://127.0.0.1:8000/media/0603847414221-web-tete.jpg" class="rounded-circle" alt="Card image cap" width="220" height="220">
            <div class="card-body">
                <div class=" row ">
                    <div class="col-1 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/medal.png" alt="0" width="50" height="50">
                    </div>
                    <h5 class="col-8 m-4 border-0">EXPÉRIENCE</h5>
                    <p class="card-text">Notre équipe,forte de plusieurs années d’expérience dans le télécom, est en mesure d’apporter l’expertise technique nécessaire lors de la réalisation de nos missions.</p>
                </div>
            </div>
        </div>


    </div>
    <div class="card text-white bg-dark m-2 border-0">
        <div class="text-center">
            <img src="http://127.0.0.1:8000/media/installation-fibre-optique.jpg" class="rounded-circle" alt="Card image cap" width="220" height="220">

            <div class="card-body">
                <div class=" row ">
                    <div class="col-1 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/star.png" alt="0" width="50" height="50">
                    </div>
                    <h5 class="col-8 m-4 border-0"> PROFESSIONNALISME </h5>
                    <p class="card-text">Notre maitrise des protocoles de sécurité et de prévention nous permettent d’accroître notre professionnalisme ainsi que notre sens du service.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="card text-white bg-dark m-2 border-0">
        <div class="text-center">
            <img src="http://127.0.0.1:8000/media/installer-fibre-optique.jpg" class="rounded-circle" alt="Card image cap " width="220" height="220">
            <div class="card-body ">
                <div class=" row ">
                    <div class="col-1 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/high-quality.png" alt="0" width="50" height="50">
                    </div>
                    <h5 class="col-8 m-4 border-0">QUALITÉ</h5>
                    <p class="card-text "> De par nos procédures internes, (référents techniques par région, conduite d’activité, audits…) nous assurons un suivi minutieux sur chacune de nos interventions.</p>
                </div>
            </div>
        </div>

    </div>

</div>
<div id="presentation" class="contrainer-fluid bg-dark">
    <div class="col-12 m-5 rounded mx-auto d-block">
        <figure class="text-center text-white">
            <h1><b>Q</b>UI <b>S</b>OMMES <b>N</b>OUS </h1>
        </figure>
        <div class="row justify-content-center">
            <div class="card col-3 m-4 border-0 bg-dark ">
                <div class=" row ">
                    <div class="col-3 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/stopwatch.png" alt="0" width="90" height="90">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Disponibilité 24h/24 7j/7</h5>
                    </div>
                </div>
            </div>
            <div class="card col-3 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-3 border-0">
                        <img src="http://127.0.0.1:8000/media/mobility.png" alt="0" width="100" height="100">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Mobilité sur tout le Territoire</h5>
                    </div>
                </div>

            </div>
            <div class="card col-3 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-3 border-0">
                        <img src="http://127.0.0.1:8000/media/achievement.png" alt="0 " width="90 " height="90 ">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Plus de 3 ans d'Exeprience</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="card col-4 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-2 border-0 ">
                        <img src="http://127.0.0.1:8000/media/optimization.png" alt="0 " width="90 " height="90">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Traveaux Optimiser pour reduire l'Impact</h5>
                    </div>
                </div>
            </div>
            <div class="card col-4 m-4 border-0 bg-dark ">
                <div class=" row ">
                    <div class="col-3 m-4 border-0 ">
                        <img src="http://127.0.0.1:8000/media/equipment.png " alt="0 " width="90 " height="90 ">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Matériel Neuf</h5>
                    </div>
                </div>
            </div>
            <div class="card col-4 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-2 border-0 ">
                        <img src="http://127.0.0.1:8000/media/server.png" alt="0 " width="100 " height="100 ">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Experience Recherche du Panne</h5>
                    </div>
                </div>
            </div>
            <div class="card col-4 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-4 border-0">
                        <img src="http://127.0.0.1:8000/media/plate-forme.png" alt="0 " width="90 " height="90 ">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Possiblité de recourir à une Nacelle</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="services">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content  bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <p class="card-text">
                            <b> L</b>E TRANSPORT <b>O</b>PTIQUE
                        </p>
                    </h5>
                    <button type="button" class="Fermer" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class=" row ">
                    <div class="col-5 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/IMG_3352.JPG" alt="0 " width="200 " height="200 ">
                        <p> -> La partie droite dite : clients, desservent sur la distribution 2 en se jonction via des points d’aboutements avec des câbles de capacités de 72,144, 288 FO</p>
                    </div>
                    <div class="card col-6  border-0 bg-dark text-white align-self-center">
                        <p class="card-text"> -> Liaison entre le NRO et le point de mutualisation, cette liaison est généralement réaliser avec des câbles de capacité de 36, 72, 144, 288FO.</p>
                        <p> -> Ont fusionnent ces câbles dans un coupleur ( partie gauche de l’armoire dite : opérateur) qui divise le signal en 32 ou 64 fois. </p>
                        <img src="http://127.0.0.1:8000/media/d1.JPG" alt="0 " width="220 " height="200 ">
                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content  bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <p class="card-text">
                            <b>L</b>A DISTRIBUTION <b>O</b>PTIQUE
                        </p>
                    </h5>
                    <button type="button" class="Fermer" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class=" row ">
                    <div class="col-5 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/58314160264__67B9BC87-6922-4B29-B184-0F21592C70A5.JPG" alt="0 " width="190" height="180 ">
                        <p>-> La pose de PBO se fait en colonne montante, souterrain et aérien. Le chantier est vérifié via un OTDR ainsi qu’un test laser.</p>
                    </div>
                    <div class="card col-6 m-2 border-0 bg-dark text-white align-self-center">
                        <p class="card-text">-> Liaison entre le PA (point d’aboutement) et le PBO (point de branchement optique).</p>
                        <p>-> Ce raccordement est généralement réalisée avec des câbles de capacité 6, 12, 24, 36, 48, 72, 96, 108, et 144 FO.</p>
                        <img src="http://127.0.0.1:8000/media/d2_QQANELf.JPG" alt="0 " width="220" height="220 ">
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <p class="card-text">
                            <b>R</b>ACCORDEMENT <b>A</b>BONNÉ
                        </p>
                    </h5>
                    <button type="button" class="Fermer" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class=" row ">
                    <div class="col-5 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/IMG_3438.JPG" alt="0 " width="170 " height="200 ">
                        <p> -> La prise « PTO » est installée dans le logement et permet le branchement direct de la box (dernière génération) de l’opérateur via une jarretière optique.</p>
                    </div>
                    <div class="card col-6 m-2 border-0 bg-dark text-white align-self-center">
                        <p class="card-text"> -> Liaison entre le PBO et le PTO (point de terminaison optique).</p>
                        <p> -> Cette liaison est réalisée avec un câble optique très fin de Ø4/5 mm dont la capacité est de 1,2 et4 Fo.</p>
                        <img src="http://127.0.0.1:8000/media/IMG_4300.jpg" alt="0 " width="200 " height="200 ">

                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <figure class="text-center text-white">
            <h1> NOS SERVICES</h1>
        </figure>
        <div class="row justify-content-center ">
            <div class="card col-3 m-4 bg-dark text-white">
                <img class="m-5 rounded mx-auto d-block" src="http://127.0.0.1:8000/media/vagueness.png" alt="Card image" width="100px" />
                <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModalCenter1">
                <b>D</b>istribution <b>1</b>
            </button>
                <div class="card-body">
                    <p class="text-center">
                        <b>- L</b>E TRANSPORT <b>O</b>PTIQUE
                    </p>
                </div>
            </div>
            <div class="card col-3 m-4 bg-dark text-white">
                <img class="m-5 rounded mx-auto d-block" src="http://127.0.0.1:8000/media/maintenance.png" alt="Card image" width="100px" />

                <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModalCenter2">
                <b>D</b>istribution <b>2</b>
            </button>
                <div class="card-body">
                    <p class="text-center">
                        <b>- L</b>A DISTRIBUTION <b>O</b>PTIQUE
                    </p>
                </div>
            </div>
            <div class="card col-3 m-4  bg-dark text-white">
                <img class="m-5 rounded mx-auto d-block" src="http://127.0.0.1:8000/media/availability.png" alt="Card image" width="100px" />
                <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModalCenter3">
                <b> D</b>istribution <b>3</b>
            </button>
                <div class="card-body">
                    <p class="text-center">
                        <b>- R</b>ACCORDEMENT <b>A</b>BONNÉ
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<figure class="text-center ">
    <figure class="text-center text-white m-4">
        <h1> LE DÉPLOIEMENT DE LA FIBRE </h1>
    </figure>

    <a><img src="http://127.0.0.1:8000/media/Comment_la_fibre_est_deployee.jpg" class="figure-img img-fluid rounded" alt="..." width="1000" height="300 "></a>

    <figure class="text-center text-white m-4">
        <h5> <a class="text-center text-white" target="_blank" href='https://cartefibre.arcep.fr/'>Cliquez ici pour voir le déploiement de fibre optique en temps réel</a> </h5>
    </figure>
</figure>
<div id="partenaires" class="text-center bg-dark">
    <figure class="text-center text-white m-4">
        <h1> NOS PARTENAIRES</h1>
    </figure>
    <div class="row rounded mx-auto bg-dark">

        <div class="card col-1 col-sm-3 col-lg-3 bg-dark border-0">
            <a target="_blank" href='https://www.sfr.fr'><img class="m-5 rounded mx-auto" type="button" src="http://127.0.0.1:8000/media/SFR.png" alt="Card image" width="90px" /></a>
        </div>
        <div class="card col-1 col-sm-3 col-lg-3 bg-dark border-0">
            <a target="_blank" href='https://www.bouyguestelecom.fr/'><img class="m-5 rounded mx-auto" type="button" src="http://127.0.0.1:8000/media/bouyges.jpg" alt="Card image" width="120px" /></a>
        </div>
        <div class="card col-1 col-sm-3 col-lg-3 bg-dark border-0">
            <a target="_blank" href='https://www.free.fr/'><img class="m-5 rounded mx-auto" type="button" src="http://127.0.0.1:8000/media/FREE_mntkUoG.png" alt="Card image" width="95px" /></a>
        </div>
        <div class="card col-1 col-sm-3 col-lg-3 bg-dark border-0">
            <a target="_blank" href='https://www.orange.fr/'><img class="m-5 rounded mx-auto" type="button" src="http://127.0.0.1:8000/media/1200px-Orange_logo.svg.png" alt="Card image" width="90px" /></a>
        </div>
    </div>
</div>
<div id="contact">
    <div class="text-white">
        <div class="text-center">
            <h1>CONTACTEZ-NOUS</h1>
        </div>

        <div class="row m-4 p-4">
            <div class="col-6 p-4">
                <h4>BESOIN D'UNE ENTREPRISE Sérieuse et fiable ?</h4>
            </div>
            <div class="col-6 p-4">

                <div class="row p-2">
                    <div class="col-2 m-3  p-2 border-0">
                        <img src="http://127.0.0.1:8000/media/telephone.png" alt="0" width="50" height="50">
                    </div>
                    <h4 class="col-6 m-4  p-2 border-0">
                        <p><a href="tel:+33 6 28 53 00 48">+33 6 28 53 00 48</a></p>
                    </h4>
                </div>
                <div class="row p-2 ">
                    <div class="col-2 m-3  p-2 border-0">
                        <img src="http://127.0.0.1:8000/media/gmail.png" alt="0" width="50" height="50">
                    </div>
                    <h4 class="col-6 m-4 p-2 border-0">
                        <p><a target="_blank" href="mailto:zemmit.fibre@gmail.com">Zemmit.fibre@gmail.com</a></p>
                    </h4>
                </div>
                <div class="row p-2">
                    <div class="col-2 m-3 p-2 border-0">
                        <img src="http://127.0.0.1:8000/media/linkedin.png" alt="0" width="50" height="50">
                    </div>
                    <h4 class="col-6 m-4 p-2 border-0">
                        <p><a target="_blank" href="https://www.linkedin.com/in/zemmit-fibre-67a917113">Zemmit Fibre</a></p>
                    </h4>

                </div>
                <div class="row p-2">
                    <div class="col-2 m-3 p-2 border-0">
                        <img src="http://127.0.0.1:8000/media/variante-d'espace-reserve-noire.png" alt="0" width="50" height="50">
                    </div>
                    <h4 class="col-6 m-3  p-2border-0">

                        <p><a target="_blank" href="https://goo.gl/maps/n2aLXj8nFmAZuGcp7">6 RUE Des Emailleries 67800, Hœnheim</a></p>

                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>