<div id="presentation" class="contrainer-fluid bg-dark">
    <div class="col-12 m-5 rounded mx-auto d-block">
        <figure class="text-center text-white">
            <h1><b>Q</b>UI <b>S</b>OMMES <b>N</b>OUS </h1>
        </figure>
        <div class="row justify-content-center">
            <div class="card col-3 m-4 border-0 bg-dark ">
                <div class=" row ">
                    <div class="col-3 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/stopwatch.png" alt="0" width="90" height="90">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Disponibilité 24h/24 7j/7</h5>
                    </div>
                </div>
            </div>
            <div class="card col-3 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-3 border-0">
                        <img src="http://127.0.0.1:8000/media/mobility.png" alt="0" width="100" height="100">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Mobilité sur tout le Territoire</h5>
                    </div>
                </div>

            </div>
            <div class="card col-3 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-3 border-0">
                        <img src="http://127.0.0.1:8000/media/achievement.png" alt="0 " width="90 " height="90 ">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Plus de 3 ans d'Exeprience</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="card col-4 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-2 border-0 ">
                        <img src="http://127.0.0.1:8000/media/optimization.png" alt="0 " width="90 " height="90">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Traveaux Optimiser pour reduire l'Impact</h5>
                    </div>
                </div>
            </div>
            <div class="card col-4 m-4 border-0 bg-dark ">
                <div class=" row ">
                    <div class="col-3 m-4 border-0 ">
                        <img src="http://127.0.0.1:8000/media/equipment.png " alt="0 " width="90 " height="90 ">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Matériel Neuf</h5>
                    </div>
                </div>
            </div>
            <div class="card col-4 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-2 border-0 ">
                        <img src="http://127.0.0.1:8000/media/server.png" alt="0 " width="100 " height="100 ">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Experience Recherche du Panne</h5>
                    </div>
                </div>
            </div>
            <div class="card col-4 m-4 border-0 bg-dark">
                <div class=" row ">
                    <div class="col-3 m-4 border-0">
                        <img src="http://127.0.0.1:8000/media/plate-forme.png" alt="0 " width="90 " height="90 ">
                    </div>
                    <div class="card col-7 m-2 border-0 bg-dark text-white align-self-center">
                        <h5> Possiblité de recourir à une Nacelle</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>