<div id="services">
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content  bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <p class="card-text">
                            <b> L</b>E TRANSPORT <b>O</b>PTIQUE
                        </p>
                    </h5>
                    <button type="button" class="Fermer" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class=" row ">
                    <div class="col-5 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/IMG_3352.JPG" alt="0 " width="200 " height="200 ">
                        <p> -> La partie droite dite : clients, desservent sur la distribution 2 en se jonction via des points d’aboutements avec des câbles de capacités de 72,144, 288 FO</p>
                    </div>
                    <div class="card col-6  border-0 bg-dark text-white align-self-center">
                        <p class="card-text"> -> Liaison entre le NRO et le point de mutualisation, cette liaison est généralement réaliser avec des câbles de capacité de 36, 72, 144, 288FO.</p>
                        <p> -> Ont fusionnent ces câbles dans un coupleur ( partie gauche de l’armoire dite : opérateur) qui divise le signal en 32 ou 64 fois. </p>
                        <img src="http://127.0.0.1:8000/media/d1.JPG" alt="0 " width="220 " height="200 ">
                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content  bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <p class="card-text">
                            <b>L</b>A DISTRIBUTION <b>O</b>PTIQUE
                        </p>
                    </h5>
                    <button type="button" class="Fermer" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class=" row ">
                    <div class="col-5 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/58314160264__67B9BC87-6922-4B29-B184-0F21592C70A5.JPG" alt="0 " width="190" height="180 ">
                        <p>-> La pose de PBO se fait en colonne montante, souterrain et aérien. Le chantier est vérifié via un OTDR ainsi qu’un test laser.</p>
                    </div>
                    <div class="card col-6 m-2 border-0 bg-dark text-white align-self-center">
                        <p class="card-text">-> Liaison entre le PA (point d’aboutement) et le PBO (point de branchement optique).</p>
                        <p>-> Ce raccordement est généralement réalisée avec des câbles de capacité 6, 12, 24, 36, 48, 72, 96, 108, et 144 FO.</p>
                        <img src="http://127.0.0.1:8000/media/d2_QQANELf.JPG" alt="0 " width="220" height="220 ">
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark text-white">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        <p class="card-text">
                            <b>R</b>ACCORDEMENT <b>A</b>BONNÉ
                        </p>
                    </h5>
                    <button type="button" class="Fermer" data-dismiss="modal" aria-label="Fermer">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class=" row ">
                    <div class="col-5 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/IMG_3438.JPG" alt="0 " width="170 " height="200 ">
                        <p> -> La prise « PTO » est installée dans le logement et permet le branchement direct de la box (dernière génération) de l’opérateur via une jarretière optique.</p>
                    </div>
                    <div class="card col-6 m-2 border-0 bg-dark text-white align-self-center">
                        <p class="card-text"> -> Liaison entre le PBO et le PTO (point de terminaison optique).</p>
                        <p> -> Cette liaison est réalisée avec un câble optique très fin de Ø4/5 mm dont la capacité est de 1,2 et4 Fo.</p>
                        <img src="http://127.0.0.1:8000/media/IMG_4300.jpg" alt="0 " width="200 " height="200 ">

                    </div>
                </div>

                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <figure class="text-center text-white">
            <h1> NOS SERVICES</h1>
        </figure>
        <div class="row justify-content-center ">
            <div class="card col-3 m-4 bg-dark text-white">
                <img class="m-5 rounded mx-auto d-block" src="http://127.0.0.1:8000/media/vagueness.png" alt="Card image" width="100px" />
                <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModalCenter1">
                <b>D</b>istribution <b>1</b>
            </button>
                <div class="card-body">
                    <p class="text-center">
                        <b>- L</b>E TRANSPORT <b>O</b>PTIQUE
                    </p>
                </div>
            </div>
            <div class="card col-3 m-4 bg-dark text-white">
                <img class="m-5 rounded mx-auto d-block" src="http://127.0.0.1:8000/media/maintenance.png" alt="Card image" width="100px" />

                <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModalCenter2">
                <b>D</b>istribution <b>2</b>
            </button>
                <div class="card-body">
                    <p class="text-center">
                        <b>- L</b>A DISTRIBUTION <b>O</b>PTIQUE
                    </p>
                </div>
            </div>
            <div class="card col-3 m-4  bg-dark text-white">
                <img class="m-5 rounded mx-auto d-block" src="http://127.0.0.1:8000/media/availability.png" alt="Card image" width="100px" />
                <button type="button" class="btn btn-primary float-right m-2" data-toggle="modal" data-target="#exampleModalCenter3">
                <b> D</b>istribution <b>3</b>
            </button>
                <div class="card-body">
                    <p class="text-center">
                        <b>- R</b>ACCORDEMENT <b>A</b>BONNÉ
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>