<div id="operateurs" class="contrainer-fluid bg-dark">
    <figure class="text-center text-white m-4">
        <h1> NOS CLIENTS</h1>
    </figure>
    <div class="row rounded mx-auto bg-dark">

        <div class="card col-1 col-sm-3 col-lg-3 bg-dark border-0">
            <img class="m-5 rounded mx-auto" type="button" src="http://127.0.0.1:8000/media/SFR.png" onclick="window.location.href='https://www.sfr.fr'" alt="Card image" width="90px" />
        </div>
        <div class="card col-1 col-sm-3 col-lg-3 bg-dark border-0">
            <img class="m-5 rounded mx-auto" type="button" src="http://127.0.0.1:8000/media/bouyges.jpg" onclick="window.location.href='https://www.bouyguestelecom.fr/'" alt="Card image" width="120px" />
        </div>
        <div class="card col-1 col-sm-3 col-lg-3 bg-dark border-0">
            <img class="m-5 rounded mx-auto" type="button" src="http://127.0.0.1:8000/media/FREE_mntkUoG.png" onclick="window.location.href='https://www.free.fr/'" alt="Card image" width="95px" />
        </div>
        <div class="card col-1 col-sm-3 col-lg-3 bg-dark border-0">
            <img class="m-5 rounded mx-auto" type="button" src="http://127.0.0.1:8000/media/1200px-Orange_logo.svg.png" onclick="window.location.href='https://www.orange.fr/'" alt="Card image" width="90px" />
        </div>
    </div>
</div>