<div class="card-group m-3 border-0">
    <div class="card text-white bg-dark m-2 border-0">
        <div class="text-center">
            <img src="http://127.0.0.1:8000/media/0603847414221-web-tete.jpg" class="rounded-circle" alt="Card image cap" width="220" height="220">
            <div class="card-body">
                <div class=" row ">
                    <div class="col-1 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/medal.png" alt="0" width="50" height="50">
                    </div>
                    <h5 class="col-8 m-4 border-0">EXPÉRIENCE</h5>
                    <p class="card-text">Notre équipe,forte de plusieurs années d’expérience dans le télécom, est en mesure d’apporter l’expertise technique nécessaire lors de la réalisation de nos missions.</p>
                </div>
            </div>
        </div>


    </div>
    <div class="card text-white bg-dark m-2 border-0">
        <div class="text-center">
            <img src="http://127.0.0.1:8000/media/installation-fibre-optique.jpg" class="rounded-circle" alt="Card image cap" width="220" height="220">

            <div class="card-body">
                <div class=" row ">
                    <div class="col-1 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/star.png" alt="0" width="50" height="50">
                    </div>
                    <h5 class="col-8 m-4 border-0"> PROFESSIONNALISME </h5>
                    <p class="card-text">Notre maitrise des protocoles de sécurité et de prévention nous permettent d’accroître notre professionnalisme ainsi que notre sens du service.</p>
                </div>
            </div>
        </div>

    </div>
    <div class="card text-white bg-dark m-2 border-0">
        <div class="text-center">
            <img src="http://127.0.0.1:8000/media/installer-fibre-optique.jpg" class="rounded-circle" alt="Card image cap " width="220" height="220">
            <div class="card-body ">
                <div class=" row ">
                    <div class="col-1 m-2 border-0">
                        <img src="http://127.0.0.1:8000/media/high-quality.png" alt="0" width="50" height="50">
                    </div>
                    <h5 class="col-8 m-4 border-0">QUALITÉ</h5>
                    <p class="card-text "> De par nos procédures internes, (référents techniques par région, conduite d’activité, audits…) nous assurons un suivi minutieux sur chacune de nos interventions.</p>
                </div>
            </div>
        </div>

    </div>