<div class="contrainer-fluid bg-dark">
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">ZEMMIT_FIBRE</a>
        <div class="btn-group dropleft">
            <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-4">
                        <h4 class="text-white">Collapsed content</h4>
                        <span class="text-muted">Toggleable via the navbar brand.</span>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" id="dropdownMenuButton" data-target="#navbarSupportedContent,#navbarToggleExternalContent" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#presentation">QUI SOMMES NOUS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#services">NOS SERVISES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#partenaires">NOS CLIENTS</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="http://127.0.0.1:8000/media/e428152eecbc597a0617dc7be7c7d418.gif" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Zemmit Fibre</h1>
                    <h5>Notre société intervient dans le déploiement de la fibre optique FTTH ainsi que les réseaux d’initiative publique</h5>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="http://127.0.0.1:8000/media/internet-speeds-CONTENT-2018.gif" alt=" Second slide ">
            </div>
            <div class="carousel-item ">
                <img class="d-block w-100 " src="http://127.0.0.1:8000/media/giphy.gif " alt="Third slide ">

                <div class="carousel-caption d-none d-md-block ">
                    <h1>Zemmit Fibre</h1>
                    <h5>Notre société intervient dans le déploiement de la fibre optique FTTH ainsi que les réseaux d’initiative publique</h5>
                </div>

            </div>


        </div>
    </div>
    <app-two></app-two>
</div>